#Navbar {
  /* font-family: 'Benne', serif; */
  font-family: 'Rokkitt', serif;
}

.nav-item {
  margin: 0px 5px;
  /* font-size: 0.9rem; */
  font-weight: 600;
}

.underline-nav {
  border-bottom: 1px solid crimson;
}

.rw-main {
  padding: 40px;
}

#nav {
  margin-right: 50px;
}
