#Navbar {
  /* font-family: 'Benne', serif; */
  font-family: 'Rokkitt', serif;
}

.nav-item {
  margin: 0px 5px;
  /* font-size: 0.9rem; */
  font-weight: 600;
}

.underline-nav {
  border-bottom: 1px solid crimson;
}

.rw-main {
  padding: 40px;
}

#nav {
  margin-right: 50px;
}

#announcement-box h1, h2, h3, p {
  text-align: center;
  font-family:'Rokkitt', serif;
  margin: 20px 0px;
}

/* .rw-label-preferSpanish {
  display: block;
  color: #4a5568;
  font-weight: 600;
} */

.rw-button-profiles {
  /* color: #718096; */
  color: black;
  cursor: pointer;
  display: flex;
  /* justify-content: center; */
  font-size: 0.75rem;
  font-weight: 600;
  /* padding: 0.25rem 1rem; */
  /* text-transform: uppercase; */
  text-decoration: none;
  letter-spacing: 0.025em;
  border-radius: 0.25rem;
  /* line-height: 2; */
}

.rw-table-actions .rw-button-profiles {
  background-color: transparent;
}

.rw-table-actions .rw-button-profiles:hover {
  /* background-color: #718096; */
  background-color: #dae8f1;
  color: #fff;
}

.rw-button-profiles :hover {
  /* background-color: #718096; */
  background-color: #f0fff0;
  /* color: #fff; */
  color: #5555ff;
  /* background-color: gray; */
}

.rw-button-profiles.rw-button-small {
  font-size: 0.75rem;
  border-radius: 0.125rem;
  padding: 0.25rem 0.5rem;
  line-height: inherit;
}

/* #td-username {
  padding-left: 0px;
} */

/* #th-name {
  width: 50%;
} */

#user-table {
  overflow-x: hidden;
}

#link-for-username {
  padding-left: 0px;
}

/* user component */

.cntr-h{
  margin: 0 auto;
  text-align: center;
}

#user-component {
  min-width: 400px;
  margin-left: 15%;
  margin-right: 15%;
  font-family:'Rokkitt', serif;
  font-size: 1.2rem;
  /* display: flex;
  justify-content: center; */
}

#img-container {
  display: flex;
  justify-content: center;
}

#user-component img {
  object-fit: contain;
}

#user-component h4 {
  margin-top: 50px;
}

.rw-table-profile {
  table-layout: auto;
  width: 100%;
  font-size: 1.1rem;
}
.rw-table-profile th,
.rw-table-profile td {
  padding: 0.75rem;
}
/* .rw-table thead tr {
  background-color: #e2e8f0;
  color: #4a5568;
} */
.rw-table-profile th {
  font-weight: 600;
  text-align: left;
}
.rw-table-profile thead th {
  text-align: left;
}
.rw-table-profile tbody th {
  text-align: right;
}
@media (min-width: 768px) {
  .rw-table-profile tbody th {
    width: 20%;
  }
}

/* .rw-table-profile tbody tr {
  background-color: #f7f7ff;
}
.rw-table-profile tbody tr:nth-child(even) {
  background-color: #fff;
} */

#user-social-media {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 40px;
  /* border: 1px solid red; */
}

#user-social-media p {
  /* margin: 0px 100px; */
  width: 35%;
  text-align: left;
}

#primary-profile-table tr {
  border-bottom: 1px solid gray;
}

/* home page */

.home-page-buttons {
  /* width: 50%; */
  max-width: 200px;
  padding: 20px 0px;
}

/* log in page */

#login-form-wrapper {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding: 4 rem;
}

#login-form {
  border: 1px solid rgba(0, 0, 255, .2);
  width: 50%;
  min-width: 200px;
  padding: 50px;
  margin-top: 75px;
  box-shadow: 12px 12px 2px 1px #afeeee;
}
